a {
  text-decoration: none;
}

a:hover {
  background-color: #ecf0f1;
  border-bottom: 1px solid #95a5a6;
  padding-top: 3px;
  padding-bottom: 3px;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

input {
  display: block;
  margin: 7px;
  width: 500px;
}

textarea {
  margin: 7px;
  display: block;
  width: 500px;
}

h2 {
  margin: 5px;
  color: blue;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}

span {
  font-size: 1.1em;
  color: black;
}

th {
  text-align: left;
}

nav {

}

nav ul {
  
}

nav ul li {
  display: inline;
}

nav ul li a:hover {
  padding-left: 0;
  padding-right: 0;
}

nav input {
  display: inline;
  width: 200px;
}
