<div class="container">
  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/create">Create Post</a></li>
    <ul>
  </nav>

  <h2><%= @category.name %></h2>
  
  <ul>
    <% @category.posts.each do |post| %>
    <li><a href="/post/<%= post.id %>"><%= post.title %> <span><%= post.price %></span></a></li>
    <% end %>
  </ul>

</div>

