<div class="container">
   <nav>
    <ul>
      <li><a href="/create">Create Post</a></li>
      <% if @category %>
      <li><a href="/category/<%= @post.category.id %>"><%= @post.category.name %></a></li>
      <% end %>    
    <ul>
  </nav>
 
  <div>
  <h2>Craigslist Jr.</h2>
  <ul>
  <% @categories.each do |category| %>
    <li><a href="/category/<%= category.id %>"><%= category.name %></a></li>
  <% end %>
  </ul>
  </div>

</div>
